@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
* { margin: 0; padding: 0; text-decoration: none; }

/* -------------------------ESTILOS NAV------------------------- */
.hero { width: 100%; height: 100vh; background-size: cover; background-attachment: fixed; background-position: right; background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 207, 255, 0.733)), to(rgba(0, 65, 168, 0.74))), url(banner.jpg); background-image: linear-gradient(to top, rgba(32, 207, 255, 0.733) 0%, rgba(0, 65, 168, 0.74) 100%), url(banner.jpg); }

.hero-nav { height: 90px; }

.contenedor-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: inherit; }

.logo { margin: 40px 0 0 150px; }

.logo-img { width: 300px; }

.links { margin: 60px 150px 0 0; }

.link { position: relative; text-decoration: none; color: #ffffff; margin: 0 10px; font-family: "Noto Sans", sans-serif; font-weight: 800; padding: 15px 20px; border: 2px solid #ffffff00; border-radius: 20px; text-transform: uppercase; letter-spacing: 3px; -webkit-transition: 0.5s; transition: 0.5s; }

.link:hover { border: 2px solid #ffffff; background: var(--clr); letter-spacing: 4px; -webkit-box-shadow: 0 0 35px var(--clr); box-shadow: 0 0 35px var(--clr); color: #0042A9; margin: 0 5px; }

/* ----------------------ESTILOS BANNER---------------------- */
.hero-main { height: calc(100vh - 200px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.hero-banner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.contenedor-slogan { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.slogan-1 { text-align: center; color: #ffffff; margin-top: 40px; font-family: "Noto Sans", sans-serif; font-weight: 800; }

.slogan-2 { margin-top: 20px; font-size: 70px; font-family: "Dancing Script", cursive; font-weight: 700; }

.logo-movistar { width: 300px; margin: 40px 0 0 0px; }

.banner-img-contenedor { width: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.banner-img { width: 340px; }

.boton-float { display: -webkit-box; display: -ms-flexbox; display: flex; width: auto; height: auto; z-index: 1; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.img-float { display: inherit; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: fixed; width: 15px; height: 15px; background: #00c5fb; padding: 20px; border-radius: 100%; margin: 20px; z-index: 100000; -webkit-box-shadow: 15px 15px 17px -3px rgba(0, 0, 0, 0.2); box-shadow: 15px 15px 17px -3px rgba(0, 0, 0, 0.2); -webkit-transition: 0.5s; transition: 0.5s; }

.img-float:hover { -webkit-box-shadow: 0 0 40px  #00c5fb; box-shadow: 0 0 40px  #00c5fb; }

.img-flecha { font-size: 35px; color: #000000; }

.wave { height: 110px; }

/* -------------------------ESTILOS MAIN PRODUCTOS------------------------- */
.productos { width: 100%; height: auto; background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5)); background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 40px; }

.titulo { font-family: "Noto Sans", sans-serif; font-weight: 800; font-size: 40px; margin-top: 40px; text-align: center; }

.text { font-family: "Noto Sans", sans-serif; font-weight: 600; font-size: 30px; margin-top: 20px; text-align: center; }

.contenedor-cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 50px 50px 30px 50px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 80%; }

.card-img { width: 100%; height: 150px; margin: 20px 0 0 30px; -o-object-fit: cover; object-fit: cover; border-radius: 20px 0px 0px 20px; }

.card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#0042A9)); background: linear-gradient(to top, #00c6fb 0%, #0042A9 100%); width: 25%; height: 400px; margin: 0 30px 30px 0; padding: 0 15px; border-radius: 20px; -webkit-box-shadow: 15px 15px 17px -3px rgba(0, 0, 0, 0.2); box-shadow: 15px 15px 17px -3px rgba(0, 0, 0, 0.2); text-decoration: none; -webkit-transition: 0.5s; transition: 0.5s; }

.card:hover { -webkit-box-shadow: 0 0 40px  #0042A9; box-shadow: 0 0 40px  #0042A9; }

.titulo-card { color: #ffffff; text-align: center; margin: 30px 0px 20PX 0px; font-size: 18px; font-family: "Noto Sans", sans-serif; font-weight: 600; }

.descripcion-card { color: #ffffff; text-align: center; margin: 20px 10px 30px 10px; font-size: 13px; font-family: "Noto Sans", sans-serif; font-weight: 600; text-align: justify; text-indent: 10px; }

.boton { color: #0042A9; text-decoration: none; font-family: "Noto Sans", sans-serif; font-size: 20px; font-weight: 600; margin: 80px 0 0 0; padding: 20px 50px; border: 3px solid #0042A9; border-radius: 20px; text-transform: uppercase; letter-spacing: 3px; -webkit-transition: 0.5s; transition: 0.5s; }

.boton:hover { border: 3px solid #eef1f5; background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#0042A9)); background: linear-gradient(to top, #00c6fb 0%, #0042A9 100%); -webkit-box-shadow: 0 0 35px #00c6fb; box-shadow: 0 0 35px #00c6fb; letter-spacing: 4px; margin: 80px 0 0 0; color: #ffffff; }

/* ----------------------ESTILOS MAIN SERVICIOS---------------------- */
.servicios { background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#0042A9)); background: linear-gradient(to top, #00c6fb 0%, #0042A9 100%); width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin: 0; }

.text-servicio { color: #ffffff; text-align: center; }

.servicio-contenedor { width: 100%; height: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 40px; }

.servicio-card { background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5)); background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); display: inherit; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 40px 0; padding: 50px 0px; width: 70%; height: 200px; -webkit-box-shadow: 24px 30px 67px -3px rgba(0, 0, 0, 0.2); box-shadow: 24px 30px 67px -3px rgba(0, 0, 0, 0.2); text-decoration: none; border-radius: 20px; -webkit-transition: 0.5s; transition: 0.5s; }

.servicio-card:hover { -webkit-box-shadow: 0 0 40px  #00c5fb; box-shadow: 0 0 40px  #00c5fb; }

.card-contenido { width: 40%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-left: 40px; }

.titulo-servicio-card { color: #000000; font-size: 25px; }

.descripcion-servicio { color: #000000; font-size: 14px; text-align: justify; text-indent: 20px; }

.servicio-sub { color: #000000; font-size: 15px; margin-bottom: 40px; text-align: center; font-family: "Noto Sans", sans-serif; font-weight: 600; }

.img-servicio { width: 40%; height: 180px; -o-object-fit: cover; object-fit: cover; margin: 0 0px 0 100px; border-radius: 20px 0px 0px 20px; }

.boton2 { color: #eef1f5; border: 3px solid #eef1f5; margin: 50px 0 0 0; }

.boton2:hover { color: #0042A9; border: 3px solid #0042A9; -webkit-box-shadow: 0 0 50px #eef1f5; box-shadow: 0 0 50px #eef1f5; background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5)); background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); margin: 50px 0 0 0; }

/*-----------------------ESTILOS SOCIAL*-----------------------*/
.social { background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5)); background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); width: 100%; height: auto; padding-bottom: 40px; margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.social-contenedor { display: inherit; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; }

.contenedor-redes { display: inherit; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 80px 50px; }

/* .contenedor-img-social{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: $gradiente-principal;
    display: inherit;
    align-items: center;
    justify-content: center;
    box-shadow: 17px 31px 41px 0px rgba(0,0,0,0.2);
    text-transform: uppercase;
    transition: 0.5s;
} */
.img-social { font-size: 80px; color: #ffffff; padding: 25px; border-radius: 100%; background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#0042A9)); background: linear-gradient(to top, #00c6fb 0%, #0042A9 100%); -webkit-box-shadow: 17px 31px 41px 0px rgba(0, 0, 0, 0.2); box-shadow: 17px 31px 41px 0px rgba(0, 0, 0, 0.2); border: 3px solid #ffffff; text-transform: uppercase; -webkit-transition: 0.5s; transition: 0.5s; }

.text-social { margin: 0 0 30px 0; color: #000000; font-family: "Noto Sans", sans-serif; }

.username { margin: 20px 0 0 0; color: #000000; font-family: "Noto Sans", sans-serif; }

.img-social:hover { color: #0042A9; border: 3px solid #0042A9; -webkit-box-shadow: 0 0 50px #00c5fb; box-shadow: 0 0 50px #00c5fb; background: -webkit-gradient(linear, left bottom, left top, from(#e6e9f0), to(#eef1f5)); background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); }

.historia { width: 80%; height: 170px; background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#0042A9)); background: linear-gradient(to top, #00c6fb 0%, #0042A9 100%); display: inherit; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-shadow: 15px 15px 17px -3px rgba(0, 0, 0, 0.2); box-shadow: 15px 15px 17px -3px rgba(0, 0, 0, 0.2); border-radius: 20px; -webkit-transition: 0.5s; transition: 0.5s; }

.historia:hover { -webkit-box-shadow: 0 0 40px  #0042A9; box-shadow: 0 0 40px  #0042A9; }

.historia-contenido { display: inherit; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }

.historia-titulo { width: 100%; color: #ffffff; font-family: "Noto Sans", sans-serif; margin: 10px 0 0px 40px; text-align: left; }

.historia-text { color: #ffffff; font-family: "Noto Sans", sans-serif; margin: 10px 0 0px 20px; text-align: left; font-weight: 600; }

.img-historia { width: 50%; height: 100px; margin-left: 10px; -o-object-fit: cover; object-fit: cover; border-radius: 20px 0px 0px 20px; }

/*-------------------------ESTILOS FOOTER-------------------------*/
.footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; height: auto; background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#0042A9)); background: linear-gradient(to top, #00c6fb 0%, #0042A9 100%); padding-bottom: 40px; }

.footer-contenedor { display: inherit; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.contenedor-footer-card { width: 30%; margin: 0 20px; }

.visitarnos-titulo-todos { font-family: "Noto Sans", sans-serif; color: #ffffff; text-align: center; font-size: 20px; margin: 0 0 20px 0; }

.visitarnos-titulo { margin-top: 35px; }

.redes-titulo { margin: 30px 0 0 0; }

.visitarnos-text { color: #ffffff; font-family: "Noto Sans", sans-serif; text-align: center; font-weight: 600; }

.poin { font-size: 25px; margin: 0 5px; }

.redes-text { margin: 0 0 20px 0; -webkit-transition: 0.5s; transition: 0.5s; }

.redes-text:hover { color: #aaaaaa; }

.copy { color: #dddddd; font-weight: 600; font-family: "Noto Sans", sans-serif; margin: 20px 0; text-align: center; }

/*---------------------ESTILOS RESPONSIVE---------------------*/
@media screen and (max-width: 1190px) { .hero { height: auto; }
  .hero-main { height: calc(55vh - 200px); } }

@media screen and (max-width: 1189px) { /* -------------------------ESTILOS NAV------------------------- */
  .hero { height: auto; }
  .hero-main { height: 35vh; }
  .logo-img { width: 250px; }
  .links { margin: 60px 100px 0 20px; }
  /* ----------------------ESTILOS BANNER---------------------- */
  .logo-movistar { width: 200px; }
  /* -------------------------ESTILOS MAIN PRODUCTOS------------------------- */
  .productos { height: auto; padding-bottom: 40px; }
  /* ----------------------ESTILOS MAIN SERVICIOS---------------------- */
  .servicios { height: auto; }
  .servicio-contenedor { height: auto; padding-bottom: 40px; }
  .social { height: auto; padding-bottom: 40px; }
  .footer { height: auto; padding-bottom: 40px; } }

@media screen and (max-width: 1089px) { /* -------------------------ESTILOS NAV------------------------- */
  .links { margin: 60px 90px 0 10px; }
  .link { margin: 0 8px; }
  .hero-main { height: auto; }
  .contenedor-redes { margin: 80px 60px; } }

@media screen and (max-width: 1109px) { .links { margin: 60px 80px 0 10px; }
  .link { padding: 10px 15px; } }

@media screen and (max-width: 1037px) { .links { margin: 60px 70px 0 10px; }
  .logo-img { width: 230px; }
  .titulo-servicio-card { font-size: 20px; }
  .descripcion-servicio { font-size: 18px; }
  .titulo { font-size: 30px; margin: 40px 15px 0 15px; }
  .text { font-size: 20px; margin: 20px 15px 0 15px; }
  .titulo-card { font-size: 18px; }
  .descripcion-card { font-size: 15px; }
  .text-social { font-size: 20px; }
  .username { font-size: 20px; } }

@media screen and (max-width: 1007px) { .links { margin: 60px 60px 0 10px; }
  .link { font-size: 12px; }
  .img-social { padding: 20px; font-size: 60px; } }

@media screen and (max-width: 922px) { .links { margin: 60px 40px 0 10px; }
  .productos { height: auto; padding-bottom: 40px; }
  .contenedor-cards { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .card { width: 220px; height: 380px; margin: 20px 30px; }
  .boton { font-size: 15px; padding: 15px 40px; }
  .servicios { height: auto; }
  .historia-titulo { font-size: 20px; }
  .historia-text { font-size: 15px; }
  .img-historia { width: 80%; }
  .social { height: auto; padding-bottom: 40px; }
  .img-servicio { width: 50%; }
  .card-contenido { width: 60%; } }

@media screen and (max-width: 902px) { .contenedor-nav { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .logo { margin: 20px 0 0 0; }
  .links { margin: 15px 0 0 0; }
  .banner-img-contenedor { display: none; }
  .hero-main { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: auto; }
  .contenedor-slogan { width: 100%; margin: 20px 0 0 0; }
  .boton { font-size: 12px; }
  .contenedor-slogan { margin-top: 30px; } }

@media screen and (max-width: 889px) { .contenedor-redes { margin: 70px 30px; }
  .historia-text { font-size: 12px; }
  .img-historia { width: 100%; }
  .descripcion-card { font-size: 13px; }
  .img-servicio { width: 100%; }
  .card-contenido { width: 100%; } }

@media screen and (max-width: 774px) { .productos { height: auto; padding-bottom: 40px; }
  .card { width: 250px; }
  .servicio-card { height: auto; }
  .visitarnos-titulo-todos { font-size: 15px; }
  .visitarnos-text { font-size: 12px; }
  .poin { font-size: 15px; }
  .copy { margin: 40px 0 0 0; }
  .footer { height: auto; padding-bottom: 40px; }
  .servicios { height: auto; }
  .servicio-card { -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; width: 260px; height: 400px; margin: 20px 10px; padding: 20px 0; }
  .card-contenido { margin-bottom: 40px; width: 80%; padding: 0; }
  .text-servicio { margin-bottom: 40px; }
  .img-servicio { width: 90%; height: 150px; margin: 20px 0px 0 25px; -o-object-fit: cover; object-fit: cover; border-radius: 20px 0px 0px 20px; padding: 0; }
  .servicio-sub { font-size: 12px; margin: 5px; }
  .titulo-servicio-card { margin: 20px 0 0 0; }
  .img-historia { width: 120%; }
  .contenedor-redes { margin: 60px 30px; }
  .username { font-size: 15px; }
  .boton-float { display: none; } }

@media screen and (max-width: 682px) { .img-social { padding: 15px; font-size: 50px; }
  .text-social { font-size: 15px; }
  .contenedor-redes { margin: 60px 40px; }
  .img-historia { width: 130%; } }

@media screen and (max-width: 678px) { .social { height: auto; padding-bottom: 40px; }
  .footer { height: auto; padding-bottom: 40px; }
  .footer-contenedor { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .contenedor-footer-card { width: 80%; margin: 0 0 30px 0; }
  .copy { margin: 0px 0 30px 0; }
  .redes-titulo { margin: 0 0 10px 0; }
  .contenedor-redes { margin: 60px 10px; } }

@media screen and (max-width: 544px) { .titulo { font-size: 25px; }
  .text { font-size: 20px; }
  .social { height: auto; padding-bottom: 40px; }
  .historia { height: auto; }
  .historia-contenido { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .img-historia { width: 80%; margin: 10px 0px 20px 0px; border-radius: 20px; }
  .historia-text { text-align: center; }
  .boton { font-size: 10px; }
  .contenedor-redes { margin: 60px 10px; }
  .username { font-size: 13px; } }

@media screen and (max-width: 472px) { .hero { background-position: center; }
  .link { padding: 5px 10px; margin: 0 4px; }
  .social-contenedor { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 20px; margin-bottom: 20px; }
  .contenedor-redes { margin: 10px 20px; }
  .social { height: auto; padding-bottom: 40px; }
  .historia { margin: 20px 50px; }
  .descripcion-card { font-size: 12px; }
  .username { font-size: 15px; } }

@media screen and (max-width: 472px) { .links { text-align: center; }
  .link { margin: 0px 0px; font-size: 10px; }
  .link:hover { margin: 0 0; letter-spacing: 3px; } }
/*# sourceMappingURL=main.css.map */