*{
    margin: 0;
    padding: 0;
}

/*-----------------------Estilos Nav-----------------------*/

.hero{
    width: 100%;
    min-height: 100vh;
}
.contenedor-nav{    
    display: flex;
   justify-content: space-between;
   align-items: center; 
}

.hero-nav{
    width: 100%;
    height: 80px;
    background: linear-gradient(320deg, rgba(2,144,192,1) 25%, rgba(34,57,125,1) 60%);
    border-bottom: 2px solid #cccc ;
    
}

.imglogo{
    width: 200px;
    margin-left:100px;
    margin-top: 15px;
}
.banner{
    width: 100%;
    height: calc(100vh - 80px);
    background: #ccc;
    object-fit: cover;
}
.banner-img{
    width: 100%;
    height: 90%;
    
}

.links{
    margin-right:100px;
    margin-top: 15px;
    
}

.link{
    margin-right: none;
    padding: 40px;
    text-decoration: none; 
    color: #fff;
   
    font-size: 12px;
}

.link:hover{
    
    background: linear-gradient(320deg, rgba(34,57,125,1) 25%, rgba(2,144,192,1) 63%);
}